name: 'CI'
description: 'Validates sentry-shared-kafka devservices config'

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  files-changed:
    name: detect what files changed
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    outputs:
      devservices: ${{ steps.changes.outputs.devservices }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Check for file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          token: ${{ github.token }}
          filters: |
            devservices:
              - 'devservices/**'
              - '.github/workflows/ci.yml'
  ci:
    runs-on: ubuntu-24.04
    needs: files-changed
    if: ${{ needs.files-changed.outputs.devservices == 'true' }}
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: getsentry/action-validate-devservices-config@049567d407bbf73e3b0cad39dae7bc9447fc7669
        name: Validate devservices config
        with:
          requirements-file-path: requirements-dev.txt

