name: 'CI'
description: 'Validates sentry-shared-kafka devservices config'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: getsentry/action-validate-devservices-config@302d5dafdd2510d45c56201c807bda6fb7cc3ff6
        name: Validate devservices config

